<div class="page-header">
  <div class="jumbotron">
    <h1>Troubled Thursdays</h1>
    <p>
      Inspired by the incredible community of Humans of New York,<br>
      Troubled Thursdays allows real people to help other people no matter how far they are apart.
    </p>
    <p>
      <%= link_to new_question_path, :class => 'btn btn-primary btn-lg' do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Ask a Question
      <% end %>
    </p>
  </div>
</div>
<% @questions.each do |question| %>
  <div class="well">
    <h3 style="margin-top:0px"><%= question.text %></h3>
    <p>
      <%= question.answer.text %>
    </p>
    <small>Submitted by: <%= question.submitted_by %> | Answered by: <%= question.answered_by %></small>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>