<div class="jumbotron", style="padding-left:15px;padding-right:15px">
  <div class="container-fluid">
    <div class="col-sm-9 h2">
      Ask a question
    </div>
    <div class="col-sm-3 h2">
      <div class="btn-toolbar pull-right">
        <%= link_to questions_path, :class => "btn btn-primary" do %>
          <span class="glyphicon glyphicon-chevron-left"></span>
          Back
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <%= simple_form_for(@question, :html => { :class => "form-horizontal" },
                  wrapper: :horizontal_form,
                  ) do |f| %>
      <%= f.error_notification %>
  
      <div class="form-group">
        <div class="col-sm-7">
          <%= f.input :text, :as => :text, :label => "Question", :input_html => { :rows => 3 } %>
        </div>
        <div class="col-sm-7">
          <%= f.input :author, :as => :text, :input_html => { :placeholder => "Optional. 'Anonymous' if no author is entered." } %>
        </div>
        <div class="col-sm-6 col-sm-offset-1">
        <%= f.button :button, :class => "btn-primary", :style => "margin-left:74px" do %>
          <span class="glyphicon glyphicon-plus"></span>
          Create Question
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


