<div class="page-header">
  <%= link_to questions_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <h1>New question</h1>
</div>

<%= simple_form_for(@question, :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :text, :as => :text, :label => "Question", :input_html => { :rows => 3 } %>
    <%= f.input :author, :as => :text, :input_html => { :placeholder => "Optional. 'Anonymous' if no author is entered." } %>
    <small>
      
    </small>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
  </div>
<% end %>

